
            @keyframes buttons{
                100%{background-color: #c9eaff;
                }
            }
                @keyframes buttons-reg{
                100%{background-color: #006dbf;
                     border-color: #006dbf;
                     color: white;
                     text-align: center;
                }
            }
             @keyframes buttons-up{
                100%{background-color: #006dbf;
                     border-color: #006dbf;
                }
            }
             
            
            div{
                    display: block;
                    
            }
            img{
                border: 0;
                border-radius: 2%;
            }
            #log_out_btn{
                color: rgb(29, 161, 242);
                font-weight: bold;
                height: 30px;
                width: 10%;
                background-color: transparent;
                border: solid 1px rgb(29, 161, 242);
                border-radius: 400px;
                
            }
            #log_out_btn:hover{
                
                animation: buttons;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
            
           
            .header2{
                background-color: white;
                position: fixed;
                height: 50px;
                width: 100%;
                overflow: hidden;    
                border-bottom: 1px solid #eef;
               background: linear-gradient(bottom, #eee  0%, #fff 10%);
		background: -ms-linear-gradient(bottom, #eee  0%,#fff 10%);
		background: -moz-linear-gradient(bottom, #eee  0%,#fff 10%);
		background: -webkit-linear-gradient(bottom, #eee  0%, #fff 10%);
                
                
            } 
            
            #leu{
                   padding: 10px;
                width: 50%;
                height: 100%;
                float: left;
            }
          
            #desn{
                   padding: 12px;
                text-align: right;
                padding: 10px;
                width: 50%;
                height: 100%;
                float: right;
            }
            
            input, select{
                box-sizing: border-box;
                font-size: 14px;
                padding: 5px;
                border: 0;
                outline: 0; 
            }
            
            .button{
               cursor: pointer;
                font-weight: bold;
                color: rgb(29, 161, 242);
                height: 30px;
                width: 10%;
                background-color: transparent;
                border: solid 1px rgb(29, 161, 242);
                border-radius: 400px;
                
            }
            .button:hover{
                
                animation: buttons;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
            .button-up{
                cursor: pointer;
                font-weight: bold;
                color: white;
                height: 30px;
                width: 10%;
                background-color: rgb(29, 161, 242);
                border: solid 1px rgb(29, 161, 242);
                border-radius: 400px;
                
            }
            .button-up:hover{
                animation: buttons-up;
                animation-fill-mode: forwards;
                animation-duration: 0.5s;
                
            }
            
            
            #login{
                margin-top: 1vw;
                margin-right: -10vw;
                display:block;
                float: right;
                width: 50%;
                height: 100px;
                
                
            }
            .width{
                width: 50%;
                margin-top: 1vw;
                text-align: center;
                
                
            }
            html{
                font-family: sans-serif;
                -webkit-text-size-adjust: 100%;
            }
            
            #leu-main{
                overflow: hidden;
                padding: 3vw;
                padding-top: 2vw; 
                text-align: right;
                margin-top: 60px;
                margin-left: 5px;
                float: left;
                width: 33%;
                height: 100vw;
            }
            #leu-profile{
                min-height: 10vw;
                float: right;
                text-align: center;
                width: 60%;
                background-color: #ffffff;
            }
            
            
            #desn-main{
                overflow: hidden;
                padding: 3vw;
                padding-top: 2vw; 
                text-align: left;
                margin-top: 60px;
                margin-left: 5px;
                float: left;  
                width: 33%;
                height: 100vw;
            }
            
            
            #sredinski-main{
                padding-top: 2vw; 
                overflow: hidden;
                text-align: center;
                float: left;
                margin-left: 5px;
                width: 33%;
                height: 100vw;
                margin-top: 60px;
            }
            .tweet{
                padding: 9px 12px;
                border-bottom: 1px #e6ecf0 solid;
                cursor: pointer;
                width: 100%;
                background-color: white;
                min-height: 51px;
                position: relative;
                
            }
            .tweet:hover{
                background-color: #f5f8fa;
                transition: background .1s linear;
                
            }
            .tweet-profile-pic{
                width: 48px;
                min-height: 100%;
                border-radius: 50%;
                overflow: hidden;
                float: left;
                
            }
            .avatar-pic{
                width: 50px;
                height: 50px;
                
            }
            .profile-info{
                padding: 5px;
                float: right;
                width:90%;
                height: 14px;
                text-align: left;
                color: #657786;
                font-size: 14px;
            }
            .content{
                font-size: 15px;
                padding: 5px;
                text-align: left;
                margin-top: 10px;
                overflow: hidden;
                width: 90%;
                float: right;
                min-height: 40px;
                
            }
            .tweet-username{
                color: black;
                font-weight: 700;
                text-decoration: underline;
                
            }
            .tweet-pic{
                float: right;
                overflow: hidden;
                min-width: 90%;
                
            }
            .tweet-bottom{
                text-align: left;
                padding-left: 50px;
                overflow: hidden;
                min-width: 90%;
                max-width: 100%;
                outline: 0;
            }
            .tweet-icons-bottom{
                cursor: pointer;
                background-color: transparent;
                border: 0;
                outline-width: 0;
                
            }
            .tweet-icons-bottom:hover{
               color: #1da1f2;
                transition: color .1s linear;
                outline-width: 0; 
            }
            
            .tweet-icons-bottom-div{
                border: solid 1px;
                overflow: hidden;
                max-width: 18px;
                border: 0;
                
            }
            
            
            #register{
                padding: 10%;
                width: 30%;
                margin-left: 30%;
                
            }
            #tweet-a-tweet{
                padding: 10%;
                width: 40%;
                margin-left: 25%;
            }
            
            .tweet-input{
                width: 100%;
                overflow: hidden;
                border:1px solid #ccc;
                border-radius: 10px;
                outline: 0;
            }
            .button-tweet{
                cursor: pointer;
                font-weight: bold;
                color: rgb(29, 161, 242);
                height: 30px;
                width: 100%;
                background-color: transparent;
                border: solid 1px rgb(29, 161, 242);
                border-radius: 400px;
                
            }
            
            .button-reg{
               cursor: pointer;
                font-weight: bold;
                color: rgb(29, 161, 242);
                height: 30px;
                width: 100%;
                background-color: transparent;
                border: solid 1px rgb(29, 161, 242);
                border-radius: 400px;
            }
            .button-reg:hover{
                animation: buttons-reg;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
            #login-register{
                padding: 10px;
                text-align: center;
            }
            input2{
                height: 40px;
                overflow: hidden;
                border-bottom:1px solid #ccc;
                outline: 0;
            }
            select{
                width: 110%;
                overflow: hidden;
                border-bottom:1px solid #ccc;
                outline: 0;
                
            }
            input:focus{
                border-bottom: solid 2px #006dbf;
                transition: border-bottom 0.2s linear;
                outline: 0;
            }
            
            .margin-top{
                margin-top: 10px;
            }
            
            

            
            
            
           