
            @keyframes buttons{
                100%{background-color: #c9eaff;
                }
            }
            
           
            
            #log_out_btn{
                color: rgb(29, 161, 242);
                font-weight: bold;
                height: 30px;
                width: 10%;
                background-color: transparent;
                border: solid 1px rgb(29, 161, 242);
                border-radius: 400px;
                
            }
            #log_out_btn:hover{
                
                animation: buttons;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
            
           
            .header2{
                background-color: white;
                position: fixed;
                height: 50px;
                width: 100%;
                overflow: hidden;    
                border-bottom: 1px solid #eef;
               background: linear-gradient(bottom, #eee  0%, #fff 10%);
		background: -ms-linear-gradient(bottom, #eee  0%,#fff 10%);
		background: -moz-linear-gradient(bottom, #eee  0%,#fff 10%);
		background: -webkit-linear-gradient(bottom, #eee  0%, #fff 10%);
                
                
            } 
            
            #leu{
                   padding: 10px;
                width: 50%;
                height: 100%;
                float: left;
            }
          
            #desn{
                   padding: 12px;
                text-align: right;
                padding: 10px;
                width: 50%;
                height: 100%;
                float: right;
            }
            
            input{
                box-sizing: border-box;
                font-size: 62.5%;
                
                
            }
            
            .button{
               
                font-weight: bold;
                color: rgb(29, 161, 242);
                height: 30px;
                width: 10%;
                background-color: transparent;
                border: solid 1px rgb(29, 161, 242);
                border-radius: 400px;
                
            }
            .button:hover{
                
                animation: buttons;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
            
            #login{
                margin-top: 1vw;
                margin-right: -10vw;
                display:block;
                float: right;
                width: 50%;
                height: 100px;
                
                
            }
                
            .width{
                width: 50%;
                margin-top: 1vw;
                text-align: center;
                
                
            }
            
            #leu-main{
                margin-top: 70px;
                margin-left: 5px;
                float: left;
                width: 33%;
                border: 1px solid black;
                height: 100vw;
            }
             #sredinski-main{
                float: left;
                margin-left: 5px;
                width: 33%;
                border: 1px solid black;
                height: 100vw;
                 margin-top: 70px;
            }
            #desn-main{
                margin-top: 70px;
                margin-left: 5px;
              float: left;  
              width: 33%;
                border: 1px solid black;
                height: 100vw;
            }
            
           
            
            
            
           